catkin_ws/build/
catkin_ws/logs/
catkin_ws/devel/
catkin_ws/build/*
catkin_ws/log/*
catkin_ws/devel/*
catkin_ws/.catkin_tools/*
catkin_ws/.catkin_tools
.catkin_tools
.catkin_workspace
catkin_ws/src/CMakeList.txt
catkin_ws/.catkin_tools/*
*.pyc
*/.vscode/settings.json
