<?xml version="1.0"?>
<launch>

    <arg name="sim" default="false"/>
    <arg name="cam" default="true"/>
    <arg name="debug_cam" default="0"/><!-- 1 weak , 2 strong -->
    <arg name="NS" value="Samwise"/>

    <arg name="vicon_ip" default=""/>
    <arg name="fcu_url" default=""/>
    <arg name="gcs_url" default=""/>

    <!-- Spin-up Vicon Stream to ROS -->
    <include file="$(find vrpn_client_ros)/launch/sample.launch">
        <arg name="server" value="$(arg vicon_ip)"/>
    </include>


    <node name="foo_throttler" type="throttle" pkg="topic_tools" args="messages /vrpn_client_node/samwise/pose 100 /mavros/vision_pose/pose" />

    <group if="$(arg cam)">
        <!-- cam_node needs roscore -->
        <exec name="roscore" pkg="ros_core" cwd="node" respawn="true"/>
        <node pkg="cam_node" type="cam_node" name="cam_node" output="screen">
            <param name="debug_cam" type="int" value="0"/> 
        </node>
    </group>

    <include file="$(find offboard_py)/launch/start_offb.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="NS" value="$(arg NS)">
        <arg name="cam" value="$(arg cam)"/>
    </include>  

    <group if="$(arg sim)">
        <include file="$(find vicon_bridge)/launch/vicon.launch"/>
    </group>

    <include file="$(find offboard_py)/launch/start_offb.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="NS" value="$(arg NS)"/>
        <arg name="cam" value="$(arg cam)"/>
    </include>



</launch>


<?xml version="1.0"?>
<launch>

  <!-- Topic Remaps and Params  -->

  <arg name="vicon_ip" default=""/>
  <arg name="fcu_url" default=""/>
  <arg name="gcs_url" default=""/>

  <!-- Spin-up Vicon Stream to ROS -->
  <include file="$(find vrpn_client_ros)/launch/sample.launch">
    <arg name="server" value="$(arg vicon_ip)"/>
  </include>

  <!-- Spin-up Mavros Connection to Pixhawk6C -->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="gcs_url" value="$(arg gcs_url)"/>
    <param name="timesync" value="0.0"/>
  </include>

</launch>