<?xml version="1.0"?>
<launch>

    <arg name="sim" default="true"/>
    <arg name="fcu_url" default="/dev/ttyUSB0:921600"/>
    <arg name="gcs_url" default="udp://@192.168.88.224"/>

    <!-- If sim include the MAVROS node with SITL and Gazebo -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch"/>

    <!-- Our node to control the drone -->
    <node pkg="offboard_py" type="arm.py" name="offb_node_py" required="true" output="screen"/>
</launch>
