<?xml version="1.0"?>
<launch>

    <arg name="sim" default="true"/> <!--Will launch with ports setup for sim and launch gazebo-->
    <arg name="cam" default="true"/> <!--When wanting to launch offb node by itself-->
    <arg name="NS" default="None"/><!--Name of drone within vicon-->
    <arg name="debug_cam" default="0"/><!-- 0 none, 1 weak , 2 strong -->

    <condition if="$(arg sim)">
        <arg name="NS" value="None"/>
    </condition>
    <condition unless="$(arg sim)">
        <arg name="NS" value="Gandolf"/>
    </condition>

    <group if="$(arg cam)">
        <!-- cam_node needs roscore -->
        <exec name="roscore" pkg="ros_core" cwd="node" respawn="true"/>
        <node pkg="cam_node" type="cam_node" name="cam_node" output="screen">
            <param name="debug_cam" type="int" value="0"/> 
        </node>
    </group>

    <group if="$(arg sim)">
        <include file="$(find vicon_bridge)/launch/vicon.launch"/>
    </group>

    <include file="$(find offboard_py)/launch/start_offb.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="NS" value="$(arg NS)"/>
        <arg name="cam" value="$(arg cam)"/>
    </include>


</launch>

    